{{ partial "header.html" . }}

<!-- Page Content -->
<div class="container">

  <!-- Row -->
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    </div>
    <div class="col-md-10 col-md-offset-1">

      {{- range .Data.Pages }}
      <div class="section-item">
        <a href="{{ .Permalink }}">{{ partial "publication-summary" . }}</a>
      </div>
      {{- end }}

      <div>
        {{ partial "back-link" }}
      </div>

    </div>
  </div>
  <!-- /.row -->

  {{ partial "footer.html" . }}